.main{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 27px;
  margin-top: 100px;
}

.load{
  width:30px;
  height:30px;
  background-color: blueviolet;
  margin: 2px;
  color: white;
   font-weight: 50%;
  border-radius: 50%;
  animation:scale 3s alternate infinite
}

@keyframes scale{
  0%{
    transform: scaleY(0);
  }
  50%{
    transform: scaleY(1);
  }
  100%{
    transform: scaleY(0);
  }
}

.load:nth-child(1){
  animation-delay:.2s;
}
.load:nth-child(2){
  animation-delay:.4s;
}
.load:nth-child(3){
  animation-delay:.6s;
}
.load:nth-child(4){
  animation-delay:.8s;
}
.load:nth-child(5){
  animation-delay: 1.2s;
}
.load:nth-child(6){
  animation-delay: 1.4s;
}
.load:nth-child(7){
  animation-delay: 1.6s;
}
.load:nth-child(8){
  animation-delay: 1.8s;
}